.base{
    background-color: rgb(0, 0, 0);
    width: 550px;
    height: 660px;
    margin: 0 auto;
    border-radius: 12px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
}
.cuadrados{
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    padding: 10px;
    margin: -1.5px
}

.jugador01,.jugador02,.jugador03{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: absolute;
    
   
    
}

.jugador01{
 margin-left: 600px;
  margin-top: -170px;
}

.jugador02{
    margin-left: 750px;
    margin-top: -168px;
}

.jugador03{
    margin-left: 900px;
    margin-top: -195px;
}
.btn_juga1{
margin-left: 550px;
}

.btn_juga2{
    margin-left: 710px;
    margin-top: -26px;
}
.btna_juga3{
    margin-left: 880px;
    margin: -20px 40px;
}